/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
html{
  box-sizing: border-box;
}
*,
* ::before, 
*::after {
	box-sizing: inherit;
}

:root {
  --color-primary: #1D3557;
  --color-secondary: #219EBC;
  --color-background: #8ECAE6;
}

body {
  background-color: var(--color-background);
  margin-left: auto;
  margin-right: auto;
  background-image: url('https://i.ibb.co/4gmkq5m/image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.diver {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  position: center;
  /*margin: 370px 370px 0px 370px;*/
}

.diver img {
  width: 700px;
  position: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 150px 0px 0px;
}

p {
  color: var(--color-primary);
  font-family: 'Dokdo', cursive;
  font-weight: normal;
  font-style: normal;
  font-size: clamp(0.5rem, 8vw, 4.5rem);
  position: center;
  text-align: center;
  text-shadow: 0px 5px 3px #219EBC;
  max-width: 900px;
  align: center;
}

.placename1:link, .placename1:visited {
  color: #fff;
  text-decoration: none;
  }

.placename1:hover {
  color: #FFF;
  text-shadow: 0 0 10px #fff;
  }
  
  .other-recoms {
    color:var(--color-primary);
    text-shadow: 0px 0px 1px var(--color-primary);
    font-family: 'Inria Sans';
    font-size: clamp(1rem, 4vw, 2.5rem);
  }
  
  .recommend-1 ol {
    margin: 0;
    padding: 0;
    list-style: none;
    text-shadow: 0px 0px 7px #1D3557;
    font-family: 'Inria Sans';
  }
  
  .recommend-1 li a{
    color: #fff;
    display: block;
    border-radius: 100px;
    padding: 20px 1px;
    text-decoration: none;
    font-size: clamp(0.8rem, 3vw, 1.5rem);
  }
  
  .recommend-1 li a:hover,
  .recommend-1 li a:hover {
    color: #1d3557;
    background-image: linear-gradient(45deg,#219ebc 5%, #8ecae6 0, #8ecae6 5%, #219ebc 0,#8ecae6 100%);
    text-shadow: none;
  }
  
  #jupiter img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 0;
  }
  
  .recommend-1 {
    position:inherit;
    text-align: center;
  }
  
  main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 150px 50px;
  }

  .other-recoms1{
      margin: 1.5rem;
      padding: 0 0.75rem;
      border-radius: 10px;
      font-size: auto;
      line-height: 1.5;
  }
  .other-recoms1{
    padding: 30px;
    border: 5px;
    margin: 37px;
    border-radius: 10px;
    background-image: linear-gradient(180deg,#8ecae6 5%, #219ebc 0, #219ebc 5%, #8ecae6 0,#219ebc  100%);  
    cursor: pointer;
  }

.slogan:link, .slogan:visited {
color: var(--color-primary);
text-decoration: none;
}

.slogan:hover {
color: #FFF;
}

.jupiter img, .key-largo img, .grays img, .wakulla img, .alabama-point-jetties img, .lake-jocassee img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  min-width: none;
}

.container {
  position:inherit;
  text-align: center;
}
.slogan {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 2.5em 0px 2.5em;
}

body {
  margin: 0;
}
.logo{
  font-family: doublebass, sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px #219EBC;
}
.logo:hover,
.logo:focus {
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
.header li a{
  font-family: 'Inria Sans', sans serif;
  color: #fff;
}


/* header */

.header {
  background-color: #1D3557;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #1D3557;
}

.header li a{
  color: #fff;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #fff;
  /*border: 1px solid #f4f4f4;*/
  border-radius: 20px;
  text-shadow: 0 0 10px #fff;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding-left: 25px;
  padding-top: 5px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 33px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

input[type="radio"] {
  opacity: 0.5;
  display: flex;
  flex: wrap;
}

input[type="radio"]:hover {
  cursor: pointer;
}

#radio-1:hover {
  cursor: pointer;
}

.q1 ul, .q2 ul, .q3 ul, .q4 ul, .q5 ul, .q6 ul, .q7 ul, .q8 ul, .q9 ul  {
  list-style-type: none;
  color: #fff;
  font-family: 'Inria Sans', sans serif;

}

.q1, .q2, .q3, .q4, .q5, .q6, .q7, .q8, .q9  {
  width: 100%;
  /*height: 250px;*/
  border: 1px solid #1D3557;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin: 30px 0px;
  padding: 15px 15px 0px 0px;
  text-align: center;
  text-shadow: 2px 2px #1D3557;
}

/*.qFive, .qNine {
  width: 100%;
  height: 290px;
  border: 1px solid ##1D3557;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin: 30px 0px;
  padding: 15px 15px 0px 0px;
  text-align: center;
  text-shadow: 2px 2px ##1D3557;
}*/

.q1, .q3, .q5, .q7, .q9 {
  background-image: url(https://i.ibb.co/vDc7Nrj/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 25%;
}

.q2, .q4, .q6, .q8 {
  background-image: url(https://i.ibb.co/CQmL0yp/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 80%;
}

.q1 h1, .q2 h1, .q3 h1, .q4 h1, .q5 h1, .q6 h1, .q7 h1, .q8 h1, .q9 h1  {
  color: #fff;
  font-size: clamp(0.5rem, 8vw, 2.5rem);
}

.q1 h3, .q2 h3, .q3 h3, .q4 h3, .q5 h3, .q6 h3, .q7 h3, .q8 h3, .q9 h3  {
  color: #fff;
  padding: 30px 0px 0px 0px;
}

h1 {
  color: var(--color-primary);
  font-family: 'Inria Sans', sans serif;
  font-size: 36px;
}

.q1 h3 {
  color: #fff;
  padding: 30px 0px 0px 0px;
}

.q9 h1 {
  max-width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.q9 h3 {
  padding-bottom: 30px;
}

ul li {
  color: #fff;
  font-family: 'Inria Sans', regular, sans serif;
  font-size: 24px;
  text-align: center;
  display: flex;
  flex: wrap;
}

ul {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0px 15px 0px 0px;
}

/*.letsgo {
  all: unset;
  width: 15%;
  height: 50px;
  border: 1px solid ##1D3557;
  border-radius: 10px;
  background-color: var(--color-secondary);
  font-family: 'Inria Sans', sans serif;
  font-size: 24px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
	margin-right: auto;
  margin-bottom: 60px;
}*/

.letsGo {
  all: unset;
  width: 100px;
  height: 30px;
  background: transparent;
  border: none;
  position: relative;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: auto;
	margin-right: auto;
  margin-bottom: 60px;
  font-family: 'Inria Sans', sans serif;
  font-size: 24px;
}

.letsGo::after,
.letsGo::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.letsGo::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #1D3557;
  border-radius: 10px;
}

.letsGo::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.letsGo:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.letsGo:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.letsGo:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.letsGo a {
  font-family: 'Inria Sans', sans serif;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.about-us, .ux-research, .wireframes, .proposal, .style-sheet {
  color: #fff;
  font-family: 'Dokdo', cursive;
  font-weight: normal;
  font-style: normal;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  position: center;
  text-align: center;
  text-shadow: 0px 3px 2px #219EBC;
  max-width: 900px;
  align: center;
}

.about-us, .ux-research, .wireframes, .proposal, .style-sheet:link, .about-us, .ux-research, wireframes, proposal, .style-sheet:visited {
  color: #fff;
  text-decoration: none;
  }

.about-us:hover {
  color: #FFF;
  text-shadow: 0 0 10px #fff;
}

.ux-research:hover {
  color: #FFF;
  text-shadow: 0 0 10px #fff;
}

.wireframes:hover {
  color: #FFF;
  text-shadow: 0 0 10px #fff;
}

.proposal:hover {
  color: #FFF;
  text-shadow: 0 0 10px #fff;
}

.style-sheet:hover {
  color: #FFF;
  text-shadow: 0 0 10px #fff;
}

.projects {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projects p {
  margin: 2.5rem;
  background-color: var(--color-primary);
  padding: 1.5rem 3rem;
  border-radius: 20px;
  font-size: auto;
  line-height: 1.25;
  -webkit-box-shadow: #219EBC 0px 4px 10px -2px, #219EBC 0px 2px 6px -2px;
  box-shadow: #219EBC 0px 4px 10px -2px, #219EBC 0px 2px 6px -2px;
}

.learn-more p {
  color: #fff;
  font-family: 'Dokdo', cursive;
  font-weight: normal;
  font-style: normal;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  position: center;
  text-align: center;
  text-shadow: 0px 3px 2px #219EBC;
  max-width: 900px;
  align: center;
}

.knowb4ugo, .funfacts:link, .knowb4ugo, .funfacts:visited {
  color: #fff;
  text-decoration: none;
  }

.knowb4ugo:hover {
  color: #FFF;
  text-shadow: 0 0 10px #fff;
}

.funfacts:hover {
  color: #FFF;
  text-shadow: 0 0 10px #fff;
}

.learn-more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.learn-more p {
  margin: 2.5rem;
  background-color: var(--color-primary);
  padding: 1.5rem 3rem;
  border-radius: 20px;
  font-size: auto;
  line-height: 1.25;
  -webkit-box-shadow: #219EBC 0px 4px 10px -2px, #219EBC 0px 2px 6px -2px;
  box-shadow: #219EBC 0px 4px 10px -2px, #219EBC 0px 2px 6px -2px;
}

.placename2:link, .placename2:visited {
  color: #fff;
  text-decoration: none;
  }
  
  .placename2:hover {
  color: #FFF;
  text-shadow: 0 0 10px #fff;
  }

  .recommend-2 ol {
    margin: 0;
    padding: 0;
    list-style: none;
    text-shadow: 0px 0px 7px #1D3557;
    font-family: 'Inria Sans';
  }
  
  .recommend-2 li a{
    color: #fff;
    display: block;
    border-radius: 100px;
    padding: 20px 1px;
    text-decoration: none;
    font-size: clamp(0.8rem, 3vw, 1.5rem);
  }
  
  .recommend-2 li a:hover,
  .recommend-2 li a:hover {
    color: #1d3557;
    background-image: linear-gradient(45deg,#219ebc 5%, #8ecae6 0, #8ecae6 5%, #219ebc 0,#8ecae6 100%);
    text-shadow: none;
  }
  
  /*img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 0;
  }*/
  
  .recommend-2 {
    position:inherit;
    text-align: center;
  }

  .other-recoms2{
    margin: 1.5rem;
    padding: 0 0.75rem;
    border-radius: 10px;
    font-size: auto;
    line-height: 1.5;
}
.other-recoms2{
  padding: 30px;
  border: 5px;
  margin: 37px;
  border-radius: 10px;
  background-image: linear-gradient(180deg,#8ecae6 5%, #219ebc 0, #219ebc 5%, #8ecae6 0,#219ebc  100%);  
  cursor: pointer;
}

.placename3:link, .placename3:visited {
  color: #fff;
  text-decoration: none;
  }
  
  .placename3:hover {
  color: #FFF;
  text-shadow: 0 0 10px #fff;
  }

  .recommend-3 ol {
    margin: 0;
    padding: 0;
    list-style: none;
    text-shadow: 0px 0px 7px #1D3557;
    font-family: 'Inria Sans';
  }

  .recommend-3 li a{
    color: #fff;
    display: block;
    border-radius: 100px;
    padding: 20px 1px;
    text-decoration: none;
    font-size: clamp(0.8rem, 3vw, 1.5rem);
  }
  
  .recommend-3 li a:hover,
  .recommend-3 li a:hover {
    color: #1d3557;
    background-image: linear-gradient(45deg,#219ebc 5%, #8ecae6 0, #8ecae6 5%, #219ebc 0,#8ecae6 100%);
    text-shadow: none;
  }

  .recommend-3 {
    position:inherit;
    text-align: center;
  }

  .other-recoms3{
    margin: 1.5rem;
    padding: 0 0.75rem;
    border-radius: 10px;
    font-size: auto;
    line-height: 1.5;
}
.other-recoms3{
  padding: 30px;
  border: 5px;
  margin: 37px;
  border-radius: 10px;
  background-image: linear-gradient(180deg,#8ecae6 5%, #219ebc 0, #219ebc 5%, #8ecae6 0,#219ebc  100%);  
  cursor: pointer;
}

.placename4:link, .placename4:visited {
  color: #fff;
  text-decoration: none;
  }
  
  .placename4:hover {
  color: #FFF;
  text-shadow: 0 0 10px #fff;
  }

  .recommend-4 ol {
    margin: 0;
    padding: 0;
    list-style: none;
    text-shadow: 0px 0px 7px #1D3557;
    font-family: 'Inria Sans';
  }
  
  .recommend-4 li a{
    color: #fff;
    display: block;
    border-radius: 100px;
    padding: 20px 1px;
    text-decoration: none;
    font-size: clamp(0.8rem, 3vw, 1.5rem);
  }
  
  .recommend-4 li a:hover,
  .recommend-4 li a:hover {
    color: #1d3557;
    background-image: linear-gradient(45deg,#219ebc 5%, #8ecae6 0, #8ecae6 5%, #219ebc 0,#8ecae6 100%);
    text-shadow: none;
  }

  .recommend-4 {
    position:inherit;
    text-align: center;
  }

  .other-recoms4{
    margin: 1.5rem;
    padding: 0 0.75rem;
    border-radius: 10px;
    font-size: auto;
    line-height: 1.5;
}
.other-recoms4{
  padding: 30px;
  border: 5px;
  margin: 37px;
  border-radius: 10px;
  background-image: linear-gradient(180deg,#8ecae6 5%, #219ebc 0, #219ebc 5%, #8ecae6 0,#219ebc  100%);  
  cursor: pointer;
}

.placename5:link, .placename5:visited {
  color: #fff;
  text-decoration: none;
  }
  
  .placename5:hover {
  color: #FFF;
  text-shadow: 0 0 10px #fff;
  }

  .recommend-5 ol {
    margin: 0;
    padding: 0;
    list-style: none;
    text-shadow: 0px 0px 7px #1D3557;
    font-family: 'Inria Sans';
  }
  
  .recommend-5 li a{
    color: #fff;
    display: block;
    border-radius: 100px;
    padding: 20px 1px;
    text-decoration: none;
    font-size: clamp(0.8rem, 3vw, 1.5rem);
  }
  
  .recommend-5 li a:hover,
  .recommend-5 li a:hover {
    color: #1d3557;
    background-image: linear-gradient(45deg,#219ebc 5%, #8ecae6 0, #8ecae6 5%, #219ebc 0,#8ecae6 100%);
    text-shadow: none;
  }

  .recommend-5 {
    position:inherit;
    text-align: center;
  }

  .other-recoms5{
    margin: 1.5rem;
    padding: 0 0.75rem;
    border-radius: 10px;
    font-size: auto;
    line-height: 1.5;
}
.other-recoms5{
  padding: 30px;
  border: 5px;
  margin: 37px;
  border-radius: 10px;
  background-image: linear-gradient(180deg,#8ecae6 5%, #219ebc 0, #219ebc 5%, #8ecae6 0,#219ebc  100%);  
  cursor: pointer;
}

.placename6:link, .placename6:visited {
  color: #fff;
  text-decoration: none;
  }
  
  .placename6:hover {
  color: #FFF;
  text-shadow: 0 0 10px #fff;
  }

  .recommend-6 ol {
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 7px #1D3557;
    list-style: none;
    text-shadow: 0px 0px 7px #1D3557;
    font-family: 'Inria Sans';
  }
  .recommend-6 li a{
    color: #fff;
    display: block;
    border-radius: 100px;
    padding: 20px 1px;
    text-decoration: none;
    font-size: clamp(0.8rem, 3vw, 1.5rem);
  }
  
  .recommend-6 li a:hover,
  .recommend-6 li a:hover {
    color: #1d3557;
    background-image: linear-gradient(45deg,#219ebc 5%, #8ecae6 0, #8ecae6 5%, #219ebc 0,#8ecae6 100%);
    text-shadow: none;
  }

  .recommend-6 {
    position:inherit;
    text-align: center;
  }

  .other-recoms6{
    margin: 1.5rem;
    padding: 0 0.75rem;
    border-radius: 10px;
    font-size: auto;
    line-height: 1.5;
}
.other-recoms6{
  padding: 30px;
  border: 5px;
  margin: 37px;
  border-radius: 10px;
  background-image: linear-gradient(180deg,#8ecae6 5%, #219ebc 0, #219ebc 5%, #8ecae6 0,#219ebc  100%);  
  cursor: pointer;
}

ol {
  color: #fff;
}

ol li {
  color: #fff;
}

.place1 {
  padding-top: 150px;
  color: var(--color-primary);
  font-family: 'Dokdo', cursive;
  font-size: clamp(3rem, 8vw, 4.5rem);
  text-shadow: 0px 5px 3px #219EBC;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detailjupiter img {
  margin-top: 200px;
  width: 100%;
  height: auto;
  position: relative;
  align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  box-shadow: 10px 10px 5px var(--color-secondary);
}


.placeinfo1 {
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Inria Sans';
  color: #1D3557;  
  display: block;
  border-radius: 100px;
  padding: 20px 10px;
  text-decoration: none;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.emhere {
  color: #1d3557;
  background-image: linear-gradient(45deg,#219ebc 5%, #8ecae6 0, #8ecae6 5%, #219ebc 0,#8ecae6 100%);
  padding: 10px 30px 10px 10px;
  border-radius: 0 50px 50px 0;
  text-shadow: none;
}

.photo-ju {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin-left:50px;
  margin-top: 150px;
  list-style:none;
  width:90%;
  height:450px;
  border-radius:3px;
  overflow:hidden;
  box-shadow:1px 1px 3px 1px #1D3557;
}

.photo-ju li {
  position:relative;
  width:16%;
  height:450px;
  float:left;
  border-left:1px solid white;
  -webkit-transition:all 0.7s;
  -moz-transition:all 0.7s;
  transition:all 0.7s;
  box-shadow:-2px 0 10px 2px #1D3557;
}

li img {
  width:800px;
  height:450px;
}

.photo-ju:hover li {
  width:150px;  
}


.photo-ju li:hover {
  width:750px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-content: bottom;
  padding: 30px;
  margin: 0px 0px 0px 0px;
}

.more-buttons {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-content: bottom;
  padding: 30px;
  margin: 540px 0px 0px 0px;
}

.container .letsGo {
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin: 0px 20px 0px 20px;
}

.more-buttons .letsGo {
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin: 30px 20px 0px 20px;
}

.place2 {
  padding-top: 150px;
  color: var(--color-primary);
  font-family: 'Dokdo', cursive;
  font-size: clamp(3rem, 8vw, 4.5rem);
  text-shadow: 0px 5px 3px #219EBC;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detailkl img {
  margin-top: 200px;
  width: 100%;
  height: auto;
  position: relative;
  align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  box-shadow: 10px 10px 5px var(--color-secondary);
}


.placeinfo2 {
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Inria Sans';
  color: #1D3557;  
  display: block;
  border-radius: 100px;
  padding: 20px 10px;
  text-decoration: none;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.photo-kl {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin-left:50px;
  margin-right:50px;
  margin-top: 150px;
  list-style:none;
  width:90%;
  height:450px;
  border-radius:3px;
  overflow:hidden;
  box-shadow:1px 1px 3px 1px #1D3557;
}


.photo-kl li {
  position:relative;
  width:16%;
  height:450px;
  float:left;
  border-left:1px solid white;
  -webkit-transition:all 0.7s;
  -moz-transition:all 0.7s;
  transition:all 0.7s;
  box-shadow:-2px 0 10px 2px #1D3557;
}

.photo-kl:hover li {
  width:150px;  
}


.photo-kl li:hover {
  width:750px;
}

.place3 {
  padding-top: 200px;
  color: var(--color-primary);
  font-family: 'Dokdo', cursive;
  font-size: clamp(1rem, 8vw, 2.2rem);
  text-shadow: 0px 5px 3px #219EBC;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detailgrnms img {
  margin-top: 200px;
  width: 100%;
  height: auto;
  position: relative;
  align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  box-shadow: 10px 10px 5px var(--color-secondary);
}


.placeinfo3 {
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Inria Sans';
  color: #1D3557;  
  display: block;
  border-radius: 100px;
  padding: 20px 10px;
  text-decoration: none;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.photo-grnms {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin-left:50px;
  margin-top: 150px;
  list-style:none;
  width:90%;
  height:450px;
  border-radius:3px;
  overflow:hidden;
  box-shadow:1px 1px 3px 1px #1D3557;
}

.photo-grnms li {
  position:relative;
  width:12%;
  height:450px;
  float:left;
  border-left:1px solid white;
  -webkit-transition:all 0.7s;
  -moz-transition:all 0.7s;
  transition:all 0.7s;
  box-shadow:-2px 0 10px 2px #1D3557;
}

.photo-grnms:hover li {
  width:150px;  
}


.photo-grnms li:hover {
  width:750px;
}

.place4 {
  padding-top: 150px;
  color: var(--color-primary);
  font-family: 'Dokdo', cursive;
  font-size: clamp(2rem, 7vw, 4.5rem);
  text-shadow: 0px 5px 3px #219EBC;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detailws img {
  margin-top: 200px;
  width: 100%;
  height: auto;
  position: relative;
  align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  box-shadow: 10px 10px 5px var(--color-secondary);
}


.placeinfo4 {
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Inria Sans';
  color: #1D3557;  
  display: block;
  border-radius: 100px;
  padding: 20px 10px;
  text-decoration: none;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

br a {
  color: var(--color-primary);
  font-weight: bold;
}
br a:hover {
  text-shadow: 0 0 10px #fff;
}

.photo-ws {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin-left:50px;
  margin-top: 150px;
  list-style:none;
  width:90%;
  height:450px;
  border-radius:3px;
  overflow:hidden;
  box-shadow:1px 1px 3px 1px #1D3557;
}


.photo-ws li {
  position:relative;
  width:14%;
  height:450px;
  float:left;
  border-left:1px solid white;
  -webkit-transition:all 0.7s;
  -moz-transition:all 0.7s;
  transition:all 0.7s;
  box-shadow:-2px 0 10px 2px #1D3557;
}

.photo-ws:hover li {
  width:150px;  
}

.photo-ws li:hover {
  width:750px;
}

.photo-grnms:hover li {
  width:50px;  
}

.photo-grnms li:hover {
  width:750px;
}

.place5 {
  padding-top: 200px;
  color: var(--color-primary);
  font-family: 'Dokdo', cursive;
  font-size: clamp(2rem, 5vw, 3.5rem);
  text-shadow: 0px 5px 3px #219EBC;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detailapj img {
  margin-top: 200px;
  width: 100%;
  height: auto;
  position: relative;
  align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  box-shadow: 10px 10px 5px var(--color-secondary);
}


.placeinfo5 {
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Inria Sans';
  color: #1D3557;  
  display: block;
  border-radius: 100px;
  padding: 20px 10px;
  text-decoration: none;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.photo-apj {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin-left:50px;
  margin-top: 150px;
  list-style:none;
  width:90%;
  height:450px;
  border-radius:3px;
  overflow:hidden;
  box-shadow:1px 1px 3px 1px #1D3557;
}


.photo-apj li {
  position:relative;
  width:14%;
  height:450px;
  float:left;
  border-left:1px solid white;
  -webkit-transition:all 0.7s;
  -moz-transition:all 0.7s;
  transition:all 0.7s;
  box-shadow:-2px 0 10px 2px #1D3557;
}

.photo-apj:hover li {
  width:150px;  
}


.photo-apj li:hover {
  width:750px;
}

.place6 {
  padding-top: 200px;
  color: var(--color-primary);
  font-family: 'Dokdo', cursive;
  font-size: clamp(2rem, 5vw, 3.5rem);
  text-shadow: 0px 5px 3px #219EBC;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detaillj img {
  margin-top: 200px;
  width: 100%;
  height: auto;
  position: relative;
  align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  box-shadow: 10px 10px 5px var(--color-secondary);
}


.placeinfo6 {
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Inria Sans';
  color: #1D3557;  
  display: block;
  border-radius: 100px;
  padding: 20px 10px;
  text-decoration: none;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.photo-lj {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin-left:50px;
  margin-top: 150px;
  list-style:none;
  width:90%;
  height:450px;
  border-radius:3px;
  overflow:hidden;
  box-shadow:1px 1px 3px 1px #1D3557;
}


.photo-lj li {
  position:relative;
  width:12.5%;
  height:450px;
  float:left;
  border-left:1px solid white;
  -webkit-transition:all 0.7s;
  -moz-transition:all 0.7s;
  transition:all 0.7s;
  box-shadow:-2px 0 10px 2px #1D3557;
}

.photo-lj:hover li {
  width:150px;  
}


.photo-lj li:hover {
  width:750px;
}
